:root {
  --primary-color: #ffffff;
  --secondary-bg-color: #2e2f42;
  --color-main-text: #2e2f42;
  --color-secondary-text: #434455;
  --accent: #4d5ae5;
  --accent-pressed-state: #404bbf;
}

body {
  background: #ffffff;
  font-family: 'Roboto', sans-serif;
  color: var(--color-secondary-text);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ............................Logotype................... */
.logotype {
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent);
}

.logo {
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent);
  display: inline-block;
  margin-bottom: 16px;
}

.logo-header-blue {
  color: var(--color-main-text);
}
.logo-footer-cloud {
  color: #f4f4fd;
}
/* .......................Header.................... */
.page-header {
  padding: 24px 0;
  border-bottom: 1px solid #e7e9fc;
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.address {
  display: flex;
  align-items: center;
}

.nav-address {
  font-style: normal;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-link {
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-main-text);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-pressed-state);
}
/* .......................Contact..................... */
.contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-secondary-text);
}

.contacts-email {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-secondary-text);
  margin-right: 40px;
}

.contacts-tel {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-secondary-text);
  margin-right: 0;
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-pressed-state);
}

/* ........................Hero................. */
.hero {
  padding: 188px 0;
  /* margin-right: auto;
  margin-left: auto; */
  color: #ffffff;
  background-color: var(--secondary-bg-color);
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/bg.jpg);
  background-size: cover;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
/* .......................Battons............................ */
.modal-btn {
  font-family: inherit;
  padding: 16px 32px;
  background: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  border: none;
  line-height: 1.5;
  color: #ffffff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  min-width: 169px;
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-pressed-state);
  color: #ffffff;
}
.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  letter-spacing: 0.04em;
  background-color: #f4f4fd;
  color: var(--accent);
  cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-pressed-state);
  color: var(--primary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  border: 1px solid transparent;
}

.btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

/* ........................Features.................. */
.section-features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-menu {
  display: flex;
  gap: 24px;
}

.el-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-main-text);
  margin-bottom: 8px;
}
.el-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-secondary-text);
}

.icon-strategy:hover {
  cursor: pointer;
  fill: #4d5ae5;
}

.icon-features {
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  border-radius: 4px;
  text-align: center;
  padding-top: 24px;
  margin-bottom: 8px;
}
/* .............................About Team....................... */
.title-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-main-text);
  margin-bottom: 72px;
}
.section-about {
  padding-bottom: 120px;
}

.cart-about {
  flex-basis: calc((100% - 48px) / 3);
}

.cart-features {
  flex-basis: calc((100% - 72px) / 4);
}
.team-card-content-wrapper {
  padding: 32px 16px;
}

.description-align {
  text-align: center;
}
.section-team {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #f4f4fd;
}
.section-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  border-radius: 0px 0px 4px 4px;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.card-bg {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background: var(--primary-color);
  flex-basis: calc((100% - 72px) / 4);
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.social-list-link:hover {
  background-color: var(--accent-pressed-state);
}

.social-list-icon {
  fill: #f4f4fd;
}

/* ................................Customers.......................... */
.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8e8f99;
  width: 168px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}

.customers-list-icon {
  fill: #8e8f99;
}
.customers-list-icon:hover {
  stroke: var(--accent-pressed-state);
}

/* .section-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  border-radius: 0px 0px 4px 4px;
} */

/* .card-bg {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background: var(--primary-color);
  flex-basis: calc((100% - 72px) / 4);
} */

/* ................................footer............................. */
.address-footer {
  padding: 100px 0;
  background: var(--secondary-bg-color);
  color: #f4f4fd;
}

.footer-text {
  width: 264px;
  margin-right: auto;
}

.social-media-div {
  margin-left: 120px;
}

.footer-text-social-media {
  width: 208px;
  margin-bottom: 16px;
}

.footer-div {
  display: flex;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}
.social-media-link:hover {
  background-color: #31d0aa;
}

/* .........................Portfolio................... */
.section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.btn-list-item:not(:last-child) {
  margin-right: 24px;
}

.cart-gallery {
  flex-basis: calc((100% - 48px) / 3);
}

.gallery-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-main-text);
  margin-bottom: 8px;
}
.gallery-card-content-wrapper {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.gallery-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-secondary-text);
}
